@import "../../app.scss";

.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 45px;

    @include mobile {
        justify-content: space-between;
        gap: 20px;
    }

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            align-self: center;
            text-align: center;
            flex-direction: column;
        }

        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;

            @include mobile{
                display: none;
            }
        }

        hr{
            width: 500px;
            border: none;
            border-top: .5px solid gray;

            @include mobile{
                display: none;
            }
        }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            width: 100%;
            flex: 3;
        }

        .title{
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            img{
                width: 300px;
                height: 100px;
                border-radius: 30px;
                object-fit: cover;

                @include mobile{
                    width: 200px;
                    height: 50px;
                }
            }

            h1{
                font-size: 96px;
                font-weight: 100;

                @include mobile{
                    font-size: 36px;
                }
            }

            button{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background: #00AFF0;
                border: none;
                font-size: 24px;
                cursor: pointer;

                &:hover{
                    background: orange;
                }

                @include mobile{
                    font-size: 16px;
                    width: 150px;
                    height: 30px;
                }
            }
        }
    }
    .listContainer{
        flex: 3;
        /*background: red;*/
        display: flex;
        max-width: 1366px;
        margin: auto;
        gap: 10px;

        @include mobile{
            flex-direction: column;
            width: 100vw;
            padding-left: 10px;
            padding-right: 10px;
            flex-wrap: wrap;
            gap: 30px;
        }

        .box{
            padding: 20px;
            border: .5px solid gray;
            border-radius: 15px;
            background: #fff;
            color: #0c0c1d;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @include mobile{
                align-items: left;
                text-align: left;
                gap: 0px;
                padding: 5px;
                width: 100%;
                border-radius: 5px;
            }

            
            h2{
                @include mobile{
                }
            }
            
            .holder{
                @include mobile{
                    overflow-y: scroll;
                    max-height: 40%;
                    text-overflow: ellipsis;
                    display: none;
                }
            
                p{
                    @include mobile{
                        text-overflow: ellipsis;
                        font-size: 16px;
                    }
                }
            }

            hr{
                display: none;
            }

            :hover{
                button{
                    @include mobile{
                        background: orange;
                        color: #0c0c1d;
                    }
                }
            }

            button{
                padding: 10px;
                background: orange;
                border: none;
                border-radius: 3px;
                cursor: pointer;

                @include mobile{
                    background: transparent;
                    border: 1px solid orange;
                    font-weight: 200;
                    border-radius: 5px;
                    color: orange;
                    width: 100%;
                    padding: 5px;
                    display: none;
                }
            }
        }
    }
}