@import '../../variables.scss';
@import '../../app.scss';

.navbar{
    width: 100vw;
    height: 100px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 400px;
    position: fixed;
    z-index: 999;

    .logo{
        padding-top: 10px;

        img{
            height: 150px;
        }
    }

    .right{
        display: flex;
        position: relative;
    }

    @include mobile{
        height: 70px;
        width: 100vw;
        padding: 10px 80px;

        .logo{

            img{
                height: 65px;
            }
        }
    }
}