@import '../../variables.scss';
@import '../../app.scss';

.apply{
    height: calc(100vh - 100px);
    top: 230px;
    position: relative;
    display: flex;
    gap: 50px;
    padding: 50px 100px;
    align-items: center;
    justify-content: center;

    .cta{
        width: 100%;
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 900;
        // background: cadetblue;
        text-align: center;

        button{
            position: absolute;
            width: 100px;
            background: red;
            top: 10vh;
            left: 25vw;
            margin-bottom: 300px;
            border: 1px solid var(--secondary-color);
            outline: none;
            border-radius: 10px;
            padding: 5px;
            background: var(--text-color);
            color: var(--secondary-color);
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            &:hover{
                border: 1px solid var(--text-color);
            }
            
            &:focus{
                outline: none;
                border: 1px solid var(--text-color);
            }
        }
    }

    .form{
        // background: cadetblue;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        p{
            font-size: 2rem;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 30px;

            .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px 100px;

                .tx{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    label{
                        padding-left: 20px;
                    }

                    input{
                        border: 1px solid var(--secondary-color);
                        outline: none;
                        border-radius: 20px;
                        padding: 20px;
                        padding-left: 30px;
                        font-size: 1.25rem;
                        width: 360px;
                        background: var(--secondary-color);
                        color: var(--text-color);

                        &:hover{
                            border: 1px solid var(--text-color);
                        }
                        
                        &:focus{
                            outline: none;
                            border: 1px solid var(--text-color);
                        }
                    }
                }   
            }
        
            .tx{
                display: flex;
                flex-direction: column;
                gap: 20px;

                label{
                    padding-left: 20px;
                }
            
                input{
                    border: 1px solid var(--secondary-color);
                    outline: none;
                    border-radius: 30px;
                    padding: 20px;
                    padding-left: 30px;
                    font-size: 1.25rem;
                    // margin-top: 30px;
                    background: var(--secondary-color);
                    color: var(--text-color);

                    &:hover{
                        border: 1px solid var(--text-color);
                    }
                    
                    &:focus{
                        outline: none;
                        border: 1px solid var(--text-color);
                    }
                }
                
                textarea{
                    border: 1px solid var(--secondary-color);
                    outline: none;
                    border-radius: 30px;
                    padding: 25px;
                    font-size: 1.25rem;
                    // margin-top: 30px;
                    background: var(--secondary-color);
                    color: var(--text-color);

                    &:hover{
                        border: 1px solid var(--text-color);
                    }
                    
                    &:focus{
                        outline: none;
                        border: 1px solid var(--text-color);
                    }
                }
            }

            button{
                border: 1px solid var(--secondary-color);
                outline: none;
                border-radius: 10px;
                padding: 5px;
                background: var(--text-color);
                color: var(--secondary-color);
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;

                &:hover{
                    border: 1px solid var(--text-color);
                }
                
                &:focus{
                    outline: none;
                    border: 1px solid var(--text-color);
                }
            }
        }

        small{
            color: red;
            font-size: 1.25rem;
            // margin-bottom: 100px;
        }
    }

    @include mobile{
        padding: 100px 20px;
        top:400px;

        .cta{
            display: none;
        }

        .form{

            form{

                .info{
                    // background: cyan;
                    justify-content: center;

                    .tx{
                        // background: red;
                        width: 100%;

                        input{
                            width: 100%;
                        }
                    }
                }
            }
            
            small{
                margin-bottom: 100px;
                padding: 0 30px;
            }
        }
    }
}