@import "../../app.scss";
@import "../../variables.scss";

.cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    background: var(--text-color);
    position: fixed;

    @include mobile{
        display: none;
    }
}